
body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: grid;
    gap:25px;
    grid-auto-flow: row;
    grid-template-rows:500px 250px; 
    grid-template-columns: repeat(2, 1fr);
}

legend{
    text-transform: uppercase;
}

form>p{
    margin:auto;
} 

fieldset p:last-child{
    flex-wrap: nowrap;
}

button{
    width: 100px;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
}

fieldset p:first-of-type label{
    display: flex;
    justify-content: space-between;
}

fieldset p label{
    display: flex;
}

label input{
    flex-grow:2;
    flex-shrink: 2;
}

ul{
    list-style: none;
    padding-left: 0;
}
fieldset ul li label{
    display: flex;
    justify-content: space-between;
}

fieldset ul li label input{
    display: flex;
    flex-direction: row-reverse;
}

p label{
    flex-wrap: nowrap;
} 

p:last-child{
    display:grid;
    gap:2px;
    grid-template-columns: repeat(2, 1fr);
}

fieldset p:nth-last-child(1){
    display: inline;
}


