header{
    padding-top: 2rem;
    padding-bottom:1rem;
    text-align: center;
    font-size: 2em;
}

img{
    transition: transform .2s;
}

img:hover{
    transform: scale(1.25); 
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    padding-top: 1rem;
    background-color: #212529;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header .subtitulo{
    font-size: 25px;
}

main{
    padding: 50px;
}

a{
    font-size: 2em;
}

h2{
    font-size: 3em;
}

.contenedor{
    display: grid;
    gap:1px;
    grid-auto-rows:100px;
    grid-template-rows:370px 500px; 
    grid-template-columns:50% 50%;
}

.dwes{
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    padding-left: 200px;
}

.dwec{
    grid-column: 2;
    background-size: cover;
    padding-left: 200px;
}

.diw{
    background-size: cover;
    padding-left: 700px;
}