
main{
    display:grid;
    gap:15px;
    grid-auto-rows:200px;
    grid-template-rows:200px 200px 200px; 
    grid-template-columns:25% 25% 25% 25%;
}
.caja{
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background-color: red;
    line-height: 20px;
}

#caja1{
    background-color: royalblue;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja1:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#caja2{
    background-color:slateblue;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja2:hover{
    -webkit-transform: scale(0,5);
    transform: scale(0,5);
}

#caja3{
    background-color:tomato;
    transition: color 1s linear;
}

#caja3:hover{
    color:darkcyan;
}

#caja4{
    background-color:darkcyan;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja4:hover{
    line-height: 500px;
}

#caja5{
    background-color:yellowgreen;
    transition: border-radius 1s linear;
}

#caja5:hover{
    border-radius: 2em;
}

#caja6{
    background-color:crimson;
    transition: box-shadow 1s linear;
}

#caja6:hover{
    box-shadow:4px 4px 4px 2px darkgoldenrod;
}


#caja7{
    background-color:darkmagenta;
    transition: opacity 1s linear;
}

#caja7:hover{
    opacity: 0;
}

#caja8{
    background-color:darkolivegreen;
    transition: border 1s linear;
}

#caja8:hover{
    border: 5px solid red;
}

#caja9{
    background-color:seashell;
    color: black;
    transition: margin 1s linear;
}

#caja9:hover{
    margin: 50px;
}

#caja10{
    background-color:violet;
    transition: padding 1s linear;
}

#caja10:hover{
    padding: 50px;
}