
main{
    display:grid;
    grid-auto-rows:200px;
    grid-template-columns:20% 20% 20% 20% 20%;
}
.caja{
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background-color: red;
}

#caja1{
    background-color: royalblue;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja1:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#caja2{
    background-color:slateblue;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja2:hover{
    -webkit-transform: scale(0,5);
    transform: scale(0,5);
}

#caja3{
    background-color:tomato;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja3:hover{
    -webkit-transform: translate(20px, 20px);
    transform: translateX(20px);
}

#caja4{
    background-color:darkkhaki;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja4:hover{
    -webkit-transform: translate(20px, 20px);
    transform: translateY(20px);
    
}

#caja5{
    background-color:darkcyan;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#caja5:hover{
    transform: skew(15deg, 15deg);
    
}

#caja6{
    background-color: blue;
    transition: 1s linear;
}

#caja6:hover{
    transform: matrix(0.5,0.1,0.5,1,10,-2);
    background: linear-gradient(45deg, #66f, #f80, #ffc);
}

#caja7{
    background-color:chocolate;
    transition: 1s linear;
}

#caja7:hover{
    transform: perspective(150px) rotateY(45deg);
}
