
body{
    background-color: cornflowerblue;
}
header, footer{
    text-align: center;
    text-shadow: 7px 7px grey;
}

li{
    width: 200px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    padding: 25px;
    margin: 3px;
    background-color: darkseagreen;
    text-align: center;
}

li:hover{
    background-color: dimgray;
    margin-left: 10px;
}
li:active{
    background-color: green;
}
