h1{
    color:white;
    font-size: 3em;
    text-align: center;
}
h2{
    color:white;
    font-size: 2em;
    text-align: center;
}

h3{
    color:black;
    font-size: 2em;
    text-align: center;
}

body{
    background-color:snow;
}

header{
    background-color:slateblue;
}

footer{
    background-color: slateblue;
    color:white;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:snow;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}

li a:hover {
    background-color: black;
    color: white;
}

.log{
    color: white; 
    float: right; 
    font-size: 1.5em;
    padding-right: 20px;
}

.content{
    width: 900px;
    text-align: center;
    padding: 10px;
    margin-left: 450px;
    font-size: 1.2em;
}

.caja{
    display: flex;
    flex-wrap: wrap;
}

.caratula, .productoInputs{
    display: inline;
}

.productoInputs input{
    display: block;
}

.producto{
    min-width: 100px;
    max-width: 300px;
}