table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table,tr,th,td{
    border: 1px solid green;
    line-height: 2em;
}

th{
    background-color: #F5F5F5;
    padding: 0.5em;
}

td{
    padding: 0 .3em;
    text-align: right;
    font-size: 30px;
}

th.euro{
    background: url("../../imagenes/euro.png") #E6F3FF no-repeat center left;
    padding: 0 .3em 0 1.2em;
}

th.dolar{
    background: url("../../imagenes/dolar.png")#E6F3FF no-repeat center left;
    padding: 0 .3em 0 1.2em;
}

th.libra{
    background: url("../../imagenes/libra.png")#E6F3FF no-repeat center left;
    padding: 0 .3em 0 1.2em;
}

th.yen{
    background: url("../../imagenes/yen.png")#E6F3FF no-repeat center left;
    padding: 0 .3em 0 1.2em;
}

tr:nth-child(2) td{
    background-color: #CC4E13;
}

tr:nth-child(4) td{
    background-color: #CC4E13;
}

tr:nth-child(2) td:hover{
    background-color: #FFFF66;
}

tr:nth-child(4) td:hover{
    background-color: #FFFF66;
}

td:hover{
    background-color: #FFFF66;
}


