header{
    color:tomato;
    background-color: cornsilk;
    text-align: center;
    font-size: 2em;
}


footer{
    background-color:cornsilk;
    color:tomato;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 2em;
}

header .subtitulo{
    font-size: 25px;
}

main{
    padding: 50px;
}

a{
    font-size: 2em;
}

h2{
    text-align: center;
    font-size: 3em;
}