header{
    color:tomato;
    background-color: cornsilk;
    text-align: center;
    font-size: larger;

}

footer{
    background-color:cornsilk;
    color:cornflowerblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header .subtitulo{
    font-size: 25px;
}