

.menu > li {
    float:left;
}

.menu li{
    background-color:#000;
    color:#fff;
    width: 150px;
    border-radius: 90px;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    background-color: red;
    border: 1px solid red;
    text-align: center;
    font-size: 20px;
}

.menu li a:hover {
    background-color:#434343;
}

.menu li:hover {
    background-color:#434343;
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
}

.menu li ul li{
    right: 52px;
    top:15px;
    bottom: 10px;
}