a:link{
    color:coral;
    background-color:turquoise;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
}

a:visited{
    color:darkred;
    text-decoration: none;
}

a:hover{
    color:darkgreen;
}

a:active{
    color:yellow;
}